@model My_Project_MVC.Models.InputModel.SubCategory

@{
    ViewBag.Title = "Create";
}

<h2>Add New Sub Category</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary mt-2" type="submit"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-end">
    <a href="@Url.Action("Index","SubCategories")" class="btn btn-link"><i class="fa fa-arrow-circle-left"></i> Back to list</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
