@model IEnumerable<My_Project_MVC.Models.InputModel.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Sub Category List</h2>

<p class="d-flex justify-content-end">
    <a href="@Url.Action("Create","SubCategories")" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus-circle"></i> Add New Sub Category</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "SubCategories", new {id=item.Id})" class="btn btn-outline-success btn-sm"><i class="fa fa-edit"></i> Edit</a>
                <a href="@Url.Action("Delete", "SubCategories", new {id=item.Id})" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

</table>
