@model My_Project_MVC.Models.InputModel.Brand

@{
    ViewBag.Title = "Create";
}

<h2>Add New Brand</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="cat" class="form-select" name="@Html.NameFor(c=>c.CategoryId)">
                    <option value="" selected="selected">-----Category-----</option>
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryId, "Sub Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="sCat" class="form-select" name="@Html.NameFor(c=>c.SubCategoryId)">
                    <option value="" selected="selected">-----Sub Category-----</option>
                </select>
                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script>
        $(document).ready(function () {
            $("#cat").change(function () {
                //alert('Yes its working!!!');
                var id = $("#cat option:selected").val();
                //console.log(id);
                $.ajax({
                    url: '/Brands/getSubCategories/' + id,
                    cache: false,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data);
                        $("#sCat").empty();
                        $.each(data, function (i, obj) {
                            var s = '<option value="' + obj.Id + '">' + obj.SubCategoryName + '</option>';
                            console.log(s);
                            $("#sCat").append(s);
                        })
                    }
                })
            })
        })
    </script>
}
